<div class="list col app-about">
	<div class="item">
		
		Aplicación básica que permite asignar <br> tareas para realizar, eliminarlas
		y mandarlas<br>a una lista como actividad hecha.
	</div>
	<ul class="item ">
		<li><b>Desarrollador:</b> Carlos Chavez Laguna.</li>
		<li><b>Background:</b> Desarrollador fullstack y Android. <br>Autodidacta en temas de electrónica</li>
		<li><b>Github:</b> CarlosDevlp</li>
		<li><b>Twitter:</b> CarlosPlusPlus1</li>
		<li><b>Correo:</b> carloscl94r@gmail.com</li>
	</ul>
</div>